.App {
  text-align: center;
}

.section{
  height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  justify-content: space-around;
}

.header-link {
  text-transform: uppercase;
  padding: 10px;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

