.logo-link{
    position: fixed;
    width: 53px;
    height: 30px;
    left: 271px;
    top: 45px;

    font-family: 'Azonix';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;

    color: #221F48;
}
.projetos-link{
    position: fixed;
    width: 75px;
    height: 27px;
    left: 863px;
    top: 40px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;

    color: #221F48;
}
.home-link {
    position: absolute;
    width: 55px;
    height: 27px;
    left: 588px;
    top: 40px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;

    color: #221F48;
  }
  .contato-link{
    position: absolute;
    width: 75px;
    height: 27px;
    left: 1138px;
    top: 40px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    
    color: #221F48;
  }